<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<!-- <p [class.show-notification]="showRegSuccessNotification" class="hide-notification notification-success">Registration was successful, please login below</p> -->
<section class="login u-display-flex-center">
<form [formGroup]="loginForm" class="form-card form-card__login">
    <div class="form-contents">
      <div class="u-margin-bottom-medium">
        <h1 class="heading-secondary">Login</h1>
      </div>
      <div class="form__group">
        <input 
        class="form__input"
        type="email" 
        placeholder="email"
        formControlName="lEmail"
        > 
        <div *ngIf="!loginForm.get('lEmail').valid && loginForm.get('lEmail').touched" class="input-error u-width-90">Please enter valid email</div>
      </div>
      <div class="form__group">
        <input
        class="form__input" 
        type="password" 
        placeholder="password"
        formControlName="lPassword"
        > 
        <div *ngIf="!loginForm.get('lPassword').valid && loginForm.get('lPassword').touched" class="input-error u-width-90">Please enter valid password</div>
      </div>  
      <div class="form__group">
        <button class="btn btn-not-full btn-login__color" type="button" name="login" aria-label="login" (click)="onLogin()">Login</button>
      </div>
      <br>
      {{ loginError }}
    </div>
    </form>
  </section>

