<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<section class="register u-display-flex-center">
<form [formGroup]="registerForm" class="form-card form-card__register">
    <div class="form-contents">
      <div class="u-margin-bottom-medium">
        <h1 class="heading-secondary heading-secondary__register">Register</h1>
      </div>
      <div class="form__group">
        <input 
        class="form__input"
        type="email" 
        placeholder="email"
        formControlName="rEmail"
        > 
        <p *ngIf="!registerForm.get('rEmail').valid && registerForm.get('rEmail').touched" class="input-error">Please enter valid email</p>
    </div>
    <div class="form__group">
        <input 
        class="form__input"
        type="password" 
        placeholder="password"
        formControlName="rPassword"
        name="rPassword"
    > 
    <div *ngIf="!registerForm.get('rPassword').valid && registerForm.get('rPassword').touched" class="input-error">Please enter valid password</div>
       </div> 

       <div class="form__group">
        <input
        class="form__input" 
        type="password" 
        placeholder="confirm password"
        formControlName="rConfirmPassword"
        compare='rPassword'
        > 
        <div *ngIf="registerForm.errors?.passwordMisMatch" class="input-error">Password does not match</div>
    </div>
      <div class="form__group">
        <button class="btn btn-not-full btn-login__color" type="button" name="register" aria-label="register" (click)="onRegister()">Register</button>
      </div>
      <br>
      {{ regError }}
    </div>
    </form>
  </section>




<!-- <form [formGroup]="registerForm" class="form-container__modal shadow-lg">
    <div class="form-header">
        <h1>Register</h1>
      </div>

      <div class="form-input__section">
    <div class="form-group">
        <input 
        class="form__input"
        type="email" 
        placeholder="email"
        formControlName="rEmail"
        > 
        <p *ngIf="!registerForm.get('rEmail').valid && registerForm.get('rEmail').touched" class="input-error">Please enter valid email</p>
    </div>
   <div class="form-group">
    <input 
    class="form__input"
    type="password" 
    placeholder="password"
    formControlName="rPassword"
    name="rPassword"
> 
<div *ngIf="!registerForm.get('rPassword').valid && registerForm.get('rPassword').touched" class="input-error">Please enter valid password</div>
   </div>
<div class="form-group">
    <input
    class="form__input" 
    type="password" 
    placeholder="confirm password"
    formControlName="rConfirmPassword"
    compare='rPassword'
    > 
    <div *ngIf="registerForm.errors?.passwordMisMatch" class="input-error">Password does not match</div>
</div>

<div class="form-group">
    <button class="btn btn-full btn-login__color" type="button" name="register" aria-label="register" (click)="onRegister()">Register</button>
</div>
<p class="notification-error">{{ regError }}</p> 
      </div>
</form> -->


