.btn {
  color: white;
  font: inherit;
  border: none;
  border-radius: 8px;
  padding: 1.5rem 1rem;
  margin: 1rem;
  font-weight: bold;
  cursor: pointer;
  font-size: $default-font-size;
  text-decoration: none;

  @include respond(phone) {
    font-size: 1.4rem;
}

&-not-full {
  width: 90%;

  @include respond(phone) {
    width: 100%;
}
}


}

.button {
    background: #FFD900;
    color: white;
    font: inherit;
    border: 1.5px solid #FFD900;
    padding: 0.8rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: $default-font-size;
  }
  
  .button:hover,
  .button:active {
    background: white;
    color: #0e4f1f;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button[disabled] {
    cursor: not-allowed;
    border: #a1a1a1;
    background: #ccc;
    color: #a1a1a1;
  } 