body {
    // background-color: rgb(102, 100, 100);
}

.form {
    &-card {
        background-position-y: 40%;
        background-size: 100%;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.15);  
        min-height: 50rem;
        width: 60%;
        
        @include respond(phone) {
            background-position-y: 0%;
            background-size: cover;
            width: 90%
        }
        
        &__login {
            background-image: linear-gradient(105deg, #e4e2e2e6 0%, #e4e0e0e6 50%, transparent 50%),url("https://res.cloudinary.com/mpilopillz/image/upload/v1600935245/land-scapes/eswatini-nkoyoyo_zec98r.jpg");
            
            @include respond(phone) {
                background-image: linear-gradient(to right, hsla(0, 4%, 89%, 0.902) 0%, hsla(0, 7%, 89%, 0) 100%),url("https://res.cloudinary.com/mpilopillz/image/upload/v1600935245/land-scapes/eswatini-nkoyoyo_zec98r.jpg");
            }
        }

        &__register {
            background-image: linear-gradient(105deg, #e4e2e2e6 0%, #e4e0e0e6 50%, transparent 50%),url("https://res.cloudinary.com/mpilopillz/image/upload/v1600949228/land-scapes/mbabane_u7dcgb.jpg");
            
            @include respond(phone) {
                background-image: linear-gradient(65deg, hsla(0, 4%, 89%, 0.902) 0%, hsla(0, 7%, 89%, 0.902) 50%, transparent 50%),url("https://res.cloudinary.com/mpilopillz/image/upload/v1600949228/land-scapes/mbabane_u7dcgb.jpg");
            }
        }

        
    }

    &-contents {
     padding: 6rem;   
     width: 50%;  
     
     @include respond(phone) {
        padding: 5rem 2rem;
        width: 100%;
    }
    }

    &__group:not(:last-child) {
        margin-bottom: 5rem;
    }

    &-group {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .3s;

        @include respond(tab-port) {
            width: 100%;
            margin-bottom: 2rem;
        }

        @include respond(phone) {
            padding: 1.5rem 1rem;
            width: 100%;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }
}






.btn-full {
    width: 100%;
}

.header__display-flex {
    display: flex;
    justify-content: space-between;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 60rem;
    width: 75%;
    margin: auto;
    padding-top: 5rem;
}

.form-container__modal {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 40rem;
    max-width: 80vw;
    margin: 12.2rem auto;
    border-radius: 5px;
}

.form-header {
    border-bottom: 2px solid #b1a9a9;
    padding: 2.5rem 1rem; 
}

// .form-group {
//     margin-bottom: 1rem;
// }

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1.7rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.space__margin {
    margin: 1rem;
}

.logo__style {
   display: inline;
}

/******************************************************************************************************************
** NOTIFICATION
*******************************************************************************************************************/
.mtf__notification {
    position: fixed;
}

.mtf__notification--primary {
    color: green;
}

.opacity--1 {
    opacity: 1;
}
/******************************************************************************************************************
** SHADOW
*******************************************************************************************************************/

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)  
}

.shadow-regular {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

/******************************************************************************************************************
** Forms
*******************************************************************************************************************/


.btn-login__color {
  background-color: #FFD900;
  color: #ffffff;
  font-weight: 500;
}

.form-input__section {
  margin: 2rem;
  padding: 2rem 1rem;
}

.form-link__style {
  text-align: center;
}

.link-font {
  text-decoration: none;
  font-weight: 600;
}

.input-error {
    padding: .5rem;
    background-color: #B10C0C;
    color: #fff;
    border-radius: 2px;
    font-weight: bold;
}



/////////////////////////////REFACTOR
.book {
    background-image: linear-gradient(105deg, 
                                            rgba($color-white, .9) 0%,
                                            rgba($color-white, .9) 50%,
                                             transparent 50%),
     url("https://images.unsplash.com/photo-1481207727306-1a9f151fca7d?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80");
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    // height: 50rem;

    @include respond(tab-land) {
        background-image: linear-gradient(105deg, 
                                            rgba($color-white, .9) 0%,
                                            rgba($color-white, .9) 65%,
                                             transparent 65%),
        url("https://images.unsplash.com/photo-1481207727306-1a9f151fca7d?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80");
        background-size: cover;
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right, 
                                            rgba($color-white, .9) 0%,
                                            rgba($color-white, .9) 100%),                                  
        url("https://images.unsplash.com/photo-1481207727306-1a9f151fca7d?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80");
        background-size: cover;
    }

    &-form {
        width: 50%;
        padding: 6rem;

        @include respond(tab-land) {
            width: 65%;
        }

        @include respond(tab-port) {
            width: 100%;
        }
    }
}