.main {
    &-header {
        top: 0;
        left: 0;
        width: 100vw;
        height: 10rem;
        padding: 2rem;
        background-color: $color-black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-nav {
        // display: none;
        @include respond(phone) {
            // display: none;
            display: flex
        }
        @include respond(tab-port) { //width < 600
            display: flex; 
        }
        @include respond(tab-land) { //width < 900
            display: flex;
        }
        @include respond(big-desktop) {
            display: flex;
        }

        &__items {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
        }
        &__item--cta a {
            color: #B10C0C;
            background: #FFD900;
            // padding: 0.5rem 1rem;
            border-radius: 8px;
        }
        &__item a {
            text-decoration: none;
            color: $color-white;
            font-weight: bold;
            padding: 1rem 1.5rem;
            font-size: 1.7rem;

            @include respond(tab-port) { //width < 600
                font-size: 1.6rem; 
            }
        }
    }
}


.swati-logo svg {
    max-height: 8rem; 
    background-size: cover;
    // height: 4.5rem;
    vertical-align: middle;

    @include respond(phone) {
        display: none;
    }
}

.c__display--flex {
    display: flex;
    align-items: center;
}

.font--color {
    color: #ffffff;
}



// .main-nav {
//     display: none;
//   }

 






