.notification {
    font-weight: bold;
    font-size: 1.8rem;
    color: $color-white;
    padding: 1rem 1.5rem;

    &-success {
        @extend .notification;
        background-color: $color-success;
    }

    &-error {
        @extend .notification;
        color: $color-secondary;
    }

    &-info {
        background-color: $color-primary;
    }
}