audio {
    @include respond(phone) {
        background-color: $color-tertiary;
        width: 100%;
    }
}

.artist {
    @include respond(phone) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem;

        > p {
            margin: .3rem;
        }
    }
}
.panel-flex {
    border-bottom: 2px $color-primary solid;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    margin: 2rem 5rem;
    padding: 3rem;

    @include respond(phone) {
        flex-direction: column;
        margin: 2rem;
    }
}

.album-art {
    height: 10rem;
    width: 10rem;

    @include respond(phone) {
        // flex-direction: column;
        height: 10rem;
        width: 10rem;
    }
}

.swazi-delete {
   display: none; 
}

figcaption {
    @include respond(phone) {
        display: none;
    }
}

figure {
    @include respond(phone) {
        margin: 2rem 0;
    }
}

.flex-col {
    @include respond(phone) {
        display: flex;
    }
}

.mange-tune {
    @include respond(phone) {
        display: flex;
        justify-content: space-between;
    }
}

.delete {
    background-color: $color-secondary;
}

.edit {
    background-color: $color-primary;
}

.add {
    background-color: $color-tertiary;
}


.tune-btn {
    border-radius: 5px;
    color: white !important;
    font-weight: bold;
    padding: 1.5rem 3rem;
    text-decoration: none;
}