// .main-footer {
//     background: black;
//     padding: 2rem;
//     margin-top: 3rem;
//   }
  
//   .main-footer__links {
//     list-style: none;
//     margin: 0;
//     padding: 0;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }
  
//   .main-footer__link {
//     margin: 0.5rem 0;
//   }
  
//   .main-footer__link a {
//     color: white;
//     text-decoration: none;
//     font-size: 1.6rem;
//   }
  
//   .main-footer__link a:hover,
//   .main-footer__link a:active {
//     color: #ccc;
//   }