<footer class="main-footer">
    <nav>
        <ul class="main-footer__links">
            <li class="main-footer__link">
                <a href="#" aria-label="support" name="support">Support</a>
            </li>
            <li class="main-footer__link">
                <a href="#" name="terms-of-use" aria-label="terms of use">Terms of Use</a>
            </li>
        </ul>
    </nav>
</footer>
