@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin  absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/* 
0 - 600px;  Phone
600 - 900px;    Tablet portrait
900 - 1200px    Tablet landscape
[1200 - 1800 ] is where normal style apply
1800px + ; Big desktop

ORDER: base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin respond ($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }; //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (min-width: 37.6em) and (max-width: 56.25em) { @content }; //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (min-width: 56.26em) and (max-width: 75em) { @content }; //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 75.1em) and (max-width: 112.4em) { @content }; //1800px
    }
    @if $breakpoint == very-big-desktop {
        @media only screen and (min-width: 112.5em) { @content }; //1800px
    }
    
}