$color-primary: #3E5EB9; //swaziblue
$color-primary-light: #7999f0;
$color-primary-dark: #0634b1;

$color-secondary: #B10C0C; //swazi red
$color-secondary-light: #fa1f1f; //swazi red
$color-secondary-dark: #642605;

$color-tertiary: #FFD900; //swazi yellow
$color-tertiary-light: #fae675; //swazi yellow
$color-tertiary-dark: #b39c1b;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-success: #08e008;
 

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
