<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<main *ngIf="songs.length > 0 && !isLoading"></main>
<div class="panel" *ngFor="let song of songs">
    {{ song.title }}
    {{ song.artist }}
    <img [src]="song.imagePath" [alt]="song.title">
    <a [routerLink]="['/edit', song.id]" name="edit" aria-label="edit">EDIT</a>
    <button type="button" (click)="onDelete(song.id)" name="delete" aria-label="delete">DELETE</button>
</div>

<!-- <div class="paginator" [length]="totalSongs" [pageSize]="songsPerPage"
 [songSizeOptions] (page)="onChangedPage($event)" 
 *ngIf="songs.length > 0; else noSongs"></div>
 <p #noSongs>No songs Available at the moment!</p> -->


 <p #noSongs>No songs Available at the moment!</p>