#product-overview {
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
      url() center/cover no-repeat border-box,
      #B10C0C;
    /* background-image: url("freedom.jpg");
      background-size: cover;
      background-position: left 10% bottom 20%; */
    /* background-repeat: no-repeat;
      background-origin: border-box;
      background-clip: border-box; */
    /* background-image: linear-gradient(180deg, red 70%, blue 60%, rgba(0,0,0,0.5)); */
    /* background-image: radial-gradient(ellipse farthest-corner at 20% 50%, red, blue 70%, green); */
    width: 100vw;
    height: 33vh;
    /* border: 5px dashed red; */
    position: relative;
  }
  
  #product-overview h1 {
    color: white;
    font-family: "Anton", sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 1.8rem;
  }
  
  @media (min-width: 40rem) and (min-height: 40rem) {
    #product-overview {
      height: 40vh;
      background-position: 50% 25%;
    }
  
    #product-overview h1 {
      font-size: 3rem;
    }
  }
  
  .section-title {
    color: #2ddf5c;
    text-align: center;
    font-size: 5rem;

    @include respond(phone) {
      font-size: 2.5rem;
  }
  @include respond(tab-port) { //width < 600
      font-size: 3.5rem; 
  }
  @include respond(tab-land) { //width < 900
    font-size: 4rem;
  }
  @include respond(big-desktop) {
    font-size: 4rem;
  }
  }
  
  .plan {
    background: #d5ffdc;
    background: #7999f0;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem 0;
    width: 100%;

    @include respond(phone) {
      margin: 2rem 0;
    }
    
    &__customer-type {
        font-size: 1.4rem;

        @include respond(phone) {
          margin: 1rem;
      }
       
    }

    &__btn {
      margin: 2rem;
    }

    &--highlighted {
      background: #3E5EB9;
      color: white;
    }

    &__annotation {
      background: white;
      color: #3E5EB9;
      padding: 0.8rem;
      box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
      border-radius: 0.8rem;
    }

    &__title {
      color: #0e4f1f;
      
  
      @include respond(phone) {
          font-size: 2.5rem;
          margin: 1rem;
      }
      @include respond(tab-port) { //width < 600
          font-size: 2.5rem; 
      }
      @include respond(tab-land) { //width < 900
        font-size: 2.5rem;
      }
      @include respond(big-desktop) {
        font-size: 2.5rem;
      }
    }

    &__features {
      list-style: none;
      padding: 0;
      font-size: 1.6rem;

       @include respond(phone) {
          margin: 1rem;
      }
    }

    &__list { 
      // width: 100%;
      @include respond(phone) {
        margin: 2rem;
    }
    }

  }
  
  
  
  
  .key-feature {
    // width: 30%;
    // max-width: 25rem;

    @include respond(phone) {
      margin: 2rem;
  }
  }
  
  
  .plan__price {
    color: #858585;
    font-size: 1.7rem;
    margin: 1rem;
  }
  
  .plan--highlighted .plan__title {
    color: white;
  }
  
  .plan--highlighted .plan__price {
    color: #0e4f1f;
  }
    
  .plan__feature {
    margin: 0.5rem 0;
  }

  
  @media (min-width: 40rem) {
    .plan__list { 
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .plan {
      width: 30%;
      min-width: 13rem;
      max-width: 25rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 28rem;
    }
  
    .plan--highlighted {
      box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
      height: 30rem;
      z-index: 50;
    }
  }
  
  #key-features {
    background: #B10C0C;
    margin-top: 5rem;
    padding: 1rem;
  }
  
  #key-features .section-title {
    color: white;
    margin: 2rem;
  }
  
  .key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .key-feature__image {
    background: #ffcede;
    width: 12.8rem;
    height: 12.8rem;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: 1.5rem auto;
    padding: 1.5rem;
  }
  
  .key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
  }
  
  @media (min-width: 40rem) {
    .key-feature {
      width: 30%;
      margin: 1rem;
      max-width: 25rem;
    }
  
    .key-feature__list {
      display: flex;
      justify-content: center;
    }
  }
  
  /* h1 {
      font-family: sans-serif;
  } */
  
  .modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }