.profile-image {
    height: 20rem;
    width: 20rem;
    border-radius: 100%;
    object-fit: cover;
    margin: 4rem;

    @include respond(phone) {
        // height: 15rem;
        margin: 1rem auto;
        // width: 15rem;
}
}

.e__display--flex {
    display: flex;
    border-bottom: 2px solid $color-secondary;
    padding-bottom: 5rem;

    @include respond(phone) {
        flex-direction: column;
}
}

.profile {

    &-controls {
       display: flex;
       margin: 5rem auto; 
       justify-content: space-between;
    }

    &-details {
        // height: 40rem;
        width: 60rem;
        margin: 4rem auto;
        padding: 3.5rem;
    
        @include respond(phone) {
            height: auto;
            margin: 0;
            width: auto;
    }
    }

}



.e__align-self__center {
    align-self: center;
    line-height: 3rem;
}

.e-padding--sm {
    padding: 2rem;
}

.e-link--style {
    text-decoration: none;
    color: #3E5EB9;
}

.e__position-absolute {
    position: absolute;
    top: 2;
    right: 2;
}

.user-names {
    font-size: 1.6rem;
}

