.register {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);

    @include respond(phone) {
        padding: 6rem 0;
    }
}