<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<form [formGroup]="form" (submit)="onSaveSong()" class="form-container__modal">
    <div class="form-header">
        <h1> {{ mode | titlecase }} Song</h1>
      </div>
      <div class="form-input__section">
      <div class="form-group">
        <input 
        class="form-control"
        type="text" 
        placeholder="Song Title"
        formControlName="title"
        > 
      </div>
      <div *ngIf="!form.get('title').valid && form.get('title').touched" class="input-error">Please enter valid Song Title</div>
      <div class="form-group">
        <input
        class="form-control" 
        type="text" 
        placeholder="Artist Name(s)"
        formControlName="artist"
        > 
        <div *ngIf="form.get('artist').invalid && form.get('artist').touched" class="input-error">Please enter valid artist name</div>
      </div>
      
      <div class="form-group">
        <button type="button" (click)="filePicker.click()" name="upload" aria-label="upload">Upload Song</button>
        <input type="file" #filePicker (change)="onSongPicked($event)">
        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
          <!-- <img [src]="imagePreview" [alt]="form.value.title"> -->
           <p>song uploaded</p>
        </div>
        <div *ngIf="!form.get('songurl').valid && form.get('songurl').touched" class="input-error">Please enter valid song format</div>
      </div>
  
      <div class="form-group">
        <button class="btn btn-full btn-login__color" type="submit" [name]="mode" aria-label="submit">{{ mode | titlecase}}</button>
      </div>
     
    </div>
</form>
