<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  
  <form [formGroup]="userProfileForm" class="form-container__modal">
    <div class="form-header">
      <h1> {{ mode | titlecase }} Profile</h1>
    </div>
    <div class="form-input__section">
    <div class="form-group">
      <input 
      class="form-control"
      type="text" 
      placeholder="first name"
      formControlName="uFirstName"
      > 
    </div>
    <div *ngIf="!userProfileForm.get('uFirstName').valid && userProfileForm.get('uFirstName').touched" class="input-error">Please enter valid first name</div>
    <div class="form-group">
      <input
      class="form-control" 
      type="text" 
      placeholder="last name"
      formControlName="uLastName"
      > 
      <div *ngIf="userProfileForm.get('uLastName').invalid && userProfileForm.get('uLastName').touched" class="input-error">Please enter valid last name</div>
    </div>
    <!-- <div class="form-group">
      <input
      class="form-control" 
      type="text" 
      placeholder="Image Path"
      formControlName="uImagePath"
      > 
      <div *ngIf="userProfileForm.get('uImagePath').invalid && userProfileForm.get('uImagePath').touched" class="input-error">Please enter valid limage url</div>
    </div> -->
    
    <div class="form-group">
      <button type="button" (click)="filePicker.click()" name="upload" aria-label="upload">Upload Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && userProfileForm.get('uImage').valid">
        <img [src]="imagePreview" [alt]="userProfileForm.value.firstName">
      </div>
      <div *ngIf="!userProfileForm.get('uImage').valid && userProfileForm.get('uImage').touched" class="input-error">Please enter valid image format</div>
    </div>

    <div class="form-group">
      <button class="btn btn-full btn-login__color" type="button" (click)="onUpdateProfile()" name="update" aria-label="update">Update</button>
    </div>
   
  </div>
    </form>
    {{ userProfileForm.valid}}
  