.upload {
    background-color: #B10C0C;
}

// .profile-image {
//     height: 20rem;
//     width: 20rem;
//     border-radius: 100%;
//     object-fit: cover;
//     margin: 4rem;
// }

// .e__display--flex {
//     display: flex;
//     border-bottom: 2px solid #FFD900;
// }

// .profile-details {
//     height: 40rem;
//     width: 60rem;
//     margin: 4rem auto;
//     padding: 3.5rem;
//     // position: relative;
// }

// .e__align-self__center {
//     align-self: center;
//     line-height: 3rem;
// }

// .e-padding--sm {
//     padding: 2rem;
// }

// .e-link--style {
//     text-decoration: none;
//     color: #3E5EB9;
// }

// .e__position-absolute {
//     position: absolute;
//     top: 2;
//     right: 2;
// }