<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<main>
<section class="profile-details shadow-lg">
    <div class="e__display--flex">
    <img class="profile-image" [src]="image" [alt]="firstName">
    <div class="user-names e__align-self__center">
        <label for="">First Name</label>: <span>{{ firstName }}</span> <br>
        <label for="">Last Name</label>: <span>{{ lastName }}</span> <br>
    </div>
</div>
<div class="profile-controls">
    <a class="btn edit" [routerLink]="['/update-user-profile', userId]">Update profile</a>
    <a class="btn add" name="nav-to-upload" aria-label="Navigate to upload" routerLink="/upload">Add Music</a>
    <a class="btn upload" name="nav-to-upload" aria-label="Navigate to upload" routerLink="/add">Upload Music</a>
</div>
</section>
</main>

