<div class="ham-icon" (click)="toggleHamburgerMenu()">
    <svg width="40" height="44" viewBox="0 0 80 44" fill="none" 
    xmlns="http://www.w3.org/2000/svg">
    <line x1="0.967535" y1="4.50021" x2="79.9672" y2="3.47424" stroke="#ffffff" stroke-width="5"/>
    <line x1="0.967535" y1="40.5262" x2="79.9672" y2="39.5002" stroke="#ffffff" stroke-width="5"/>
    <line x1="0.967535" y1="22.5262" x2="79.9672" y2="21.5002" stroke="#ffffff" stroke-width="5"/>
</svg>
</div>




<div [hidden]="toggled" class="burger-background" (click)="toggleHamburgerMenu()">
    <div class="burger-options shadow-regular">
        <ul class="menu-items">
            <ng-container *ngFor= "let menuItem of menuListItems">
                <div class="menu-item" >
                    <li 
                    class="burger--li" 
                    (click)="menuItem.clickAction()" 
                    *ngIf="menuItem.isAuthRequired === undefined || menuItem.isAuthRequired === isAuth">
                        <span>{{ menuItem.text }}</span></li>
                </div>
            </ng-container>
            
        </ul>

    </div>

</div>
