.burger-options {
    position: relative;
   width: 30rem;
   height: 100%; 
   background-color: #ffffff;
   left: 0;
   top: 10rem;
   z-index: 1;
}

.burger-background {
    position: absolute;
    background: rgba(0, 0, 0, 0.178);
    width: 100%;
    height: 100vh;
    left: 0;
    top:0;
}

.burger--li {
    padding: 1rem;
}

a {
    text-decoration: none;
}

.menu-items {
    padding: 1rem;
}

.body--position__fixed {
    position: fixed;
}

span {
    font-size: 1.8rem;
}



