.loading-spinner {
    border: 4px solid #939598;
    width: 60px;
    height: 60px;
    margin: 250px auto;
    border-top-color: green;
    border-bottom-color: greenyellow;
    border-radius: 50%;
    animation: spinColors 2s linear infinite;
    
}

.loader-backdrop {
    background-color: rgba(0, 0, 0, 0.349);
    height: 1000vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 3;
}

@keyframes spinColors {
    0% {
        transform: rotate(0deg);
    }
    25% {
        border-top-color: greenyellow;
        border-bottom-color: greenyellow;
    }
    50% {
        border-top-color: green;
        border-top-color: green;
        border-left-color: honeydew;
        border-left-color: honeydew;
    }
    75% {
        border-top-color: hotpink;
        border-top-color: indigo;
    }
    100% {
        transform: rotate(720deg);
    }
}