<div class="slideshow-container">

    <div class="mySlides fade">
      <!-- <div class="numbertext">1 / 3</div> -->
      <img class="slide-image" src="https://www.w3schools.com/howto/img_snow_wide.jpg" alt="one" style="width:100%">
      <div class="text">Caption Text</div>
    </div>
    
    <div class="mySlides fade">
      <!-- <div class="numbertext">2 / 3</div> -->
      <img class="slide-image" src="https://www.w3schools.com/howto/img_mountains_wide.jpg" alt="two" style="width:100%">
      <div class="text">Caption Two</div>
    </div>
    
    <div class="mySlides fade">
      <!-- <div class="numbertext">3 / 3</div> -->
      <img class="slide-image" src="https://www.w3schools.com/howto/img_nature_wide.jpg" alt="three" style="width:100%">
      <div class="text">Caption Three</div>
    </div>
    
    <a class="prev" name="previous" aria-label="previous" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" name="forward" aria-label="forward" (click)="plusSlides(1)">&#10095;</a>
    
    </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot" (click)="currentSlide(1)"></span> 
      <span class="dot" (click)="currentSlide(2)"></span> 
      <span class="dot" (click)="currentSlide(3)"></span> 
    </div>