<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<form [formGroup]="form" (submit)="onSaveTune()" class="form-container__modal">
    <div class="form-header">
        <h1> {{ mode | titlecase }} Song</h1>
      </div>
      <div class="form-input__section">
      <div class="form-group">
        <input 
        class="form-control"
        type="text" 
        placeholder="Song Title"
        formControlName="title"
        > 
      </div>
      <div *ngIf="!form.get('title').valid && form.get('title').touched" class="input-error">Please enter valid Song Title</div>
      <div class="form-group">
        <input
        class="form-control" 
        type="text" 
        placeholder="Artist Name(s)"
        formControlName="artist"
        > 
        <div *ngIf="form.get('artist').invalid && form.get('artist').touched" class="input-error">Please enter valid artist name</div>
      </div>

      <div class="form-group">
        <input
        class="form-control" 
        type="text" 
        placeholder="Image URL"
        formControlName="imagePath"
        > 
        <div *ngIf="form.get('imagePath').invalid && form.get('imagePath').touched" class="input-error">Please enter valid image url</div>
      </div>
      
      <div class="form-group">
        <input
        class="form-control" 
        type="text" 
        placeholder="Audio Url"
        formControlName="tunePath"
        > 
        <div *ngIf="form.get('tunePath').invalid && form.get('tunePath').touched" class="input-error">Please enter valid audio url</div>
      </div>
    
  
      <div class="form-group">
        <button class="btn btn-full btn-login__color" type="submit" [name]="mode" aria-label="submit">{{ mode | titlecase}}</button>
      </div>
     
    </div>
</form>
