@import './styles/reset';

@import "./styles/abstracts/functions";
@import "./styles/abstracts/mixins";
@import "./styles/abstracts/variables";

@import "./styles/base/animations";
@import "./styles/base/base";
@import "./styles/base/typography";
@import "./styles/base/utilities";

@import "./styles/components/button";
@import "./styles/components/footer";
@import "./styles/components/form.scss";
@import "./styles/components/header";
@import "./styles/components/notifications";
@import "./styles/components/slider";
@import "./styles/components/tunes";

@import "./styles/pages/home";
@import "./styles/pages/login";
@import "./styles/pages/profile";
@import "./styles/pages/register";

// @import './styles/form.scss';
// @import './styles/main.css';
// @import './styles/shared.css';

// .swati__blue {
//     color: hsl(224, 50%, 48%);
// }

// .swati__red {
//     color: #B10C0C;
// }

// .swati__yellow {
//     color: #FFD900;
// }