*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //defining what 1rem is
    font-size: 62.5%; //1rem = 10px, 10/16 = 62.5%
    @include respond(tab-land) { //width < 900
        font-size: 56.25%; //1rem = 9px, 9/16 = 50% 
    }

    @include respond(tab-port) { //width < 600
        font-size: 50%; //1rem = 8px, 8/16 = 50%
    }


    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    @include respond(tab-port) { 
        padding: 0;
        margin: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}