.heading {
    &-secondary {
        font-size: 3.5rem; 
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 700;
        background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark);
        background-clip: text;
        color: transparent;
        letter-spacing: 2px;
        transition: all .2s;

        @include respond(tab-port) {
            font-size: 3rem;
        }
    
        @include respond(phone) {
            font-size: 2.5rem;
        }
    
        &:hover {
            transform: skewY(2deg) skewX(15deg) scale(1.1);
            text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        }

        &__register {
            background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
            background-clip: text;
        }
    }
}