.u {
    &-display-flex-center {
        display: flex;
        justify-content: center;
    }
    &-margin-bottom-medium {
       margin-bottom: 4rem; 
    }
    &-width-90 {
        width: 90%;
    }
}