// .panel-flex {
//     display: flex;
//     justify-content: space-between;
//     font-size: 1.6rem;
//     margin: 2rem 5rem;
// }

// .album-art {
//     height: 10rem;
//     width: 10rem;
// }

// .swazi-delete {
//    display: none; 
// }