<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<main *ngIf="tunes.length > 0 && !isLoading">
<div class="panel-flex" *ngFor="let tune of tunes">
<div class="flex-col">
    <img class="album-art" [src]="tune.imagePath" alt="tune.title">
    <div class="artist">
        <p><strong>{{ tune.title }}</strong></p>
    <p>{{ tune.artist }}</p> 
    </div>
</div>
    <figure>
        <figcaption>{{ tune.title }}</figcaption>
        <audio
            controls
            [src]="tune.tunePath">
                Your browser does not support the
                <code>audio</code> element.
        </audio>
    </figure>
    
   <div class="mange-tune" *ngIf="userIsAuthenticated;">
       <a class="tune-btn edit" name="edit" aria-label="edit" [routerLink]="['/edit', tune.id]">EDIT</a>
       <a class="tune-btn delete" name="delete" aria-label="delete" [routerLink]="['/edit', tune.id]">DELETE</a>
   </div>
    <button class="swazi-delete" type="button" (click)="onDelete(tune.id)" name="delete" aria-label="delete">DELETE</button>
</div>

    <p *ngIf="tunes.length <= 0 && !isLoading">No songs Available at the moment!</p>


</main>